<h4 style="color: red">{{err}}</h4>
<h1 style="margin-top:30px; color: white">Assign User</h1>
<div class="rounded d-flex justify-content-start align-items-start">
    <form class="card form p-4 p-sm-3"  action="/issues/{{issueID}}/assignUser" method="POST">
        <p class="text-white"> Please enter the username </p>
        <div class="input-group mb-3"> 
          <input type="text" name="username">
          <input type="submit" value = "Assign" class="btn btn-light ml-2 input-group-append" style="height:2.5em; background-color: transparent; border: 1px solid; border-color:#A37CF0; color:#A37CF0">
        </div>
    </form> 
</div>