<h4 style="color: red">{{err}}</h4>
<form action="/issues/{{issueID}}" method="POST">
    <input type="text" name="username">
    <input type="submit" style="background-color: aquamarine" class="btn btn-reverse add-button">
</form>