<div>
    <h1 class="text-white">Welcome to the dashboard, Jinny </h1>
    <p class="text-white"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Commodo odio aenean sed adipiscing diam donec adipiscing tristique risus. Ipsum dolor sit amet consectetur adipiscing elit ut aliquam. Facilisi nullam vehicula ipsum a. Quis hendrerit dolor magna eget est lorem ipsum. At ultrices mi tempus imperdiet nulla malesuada. Sed velit dignissim sodales ut eu sem integer. Morbi tincidunt ornare massa eget egestas purus viverra accumsan in. Pellentesque habitant morbi tristique senectus et netus. Cursus vitae congue mauris rhoncus aenean vel elit scelerisque. Vulputate mi sit amet mauris. Diam phasellus vestibulum lorem sed. Quis blandit turpis cursus in. Tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada proin libero. Velit egestas dui id ornare arcu odio ut. Gravida rutrum quisque non tellus orci ac auctor augue mauris.

Id velit ut tortor pretium. Lectus proin nibh nisl condimentum id venenatis a condimentum vitae. Congue quisque egestas diam in. Dictum fusce ut placerat orci. Arcu felis bibendum ut tristique et egestas. Eget duis at tellus at urna condimentum mattis. Et egestas quis ipsum suspendisse ultrices. Vel quam elementum pulvinar etiam non quam lacus suspendisse. Sed vulputate odio ut enim blandit volutpat. In pellentesque massa placerat duis ultricies lacus sed.</p>

     <form action="/logout?_method=DELETE" method="POST">
        <button type="submit">Logout</button>
     </form>
   
     <button onclick="/projects">
      My Projects
     </button>

     <form action="/issues">
        <button type="submit">My Issues</button>
     </form>

</div>