<section id="add" class="container">
    <div class="container">
    <div id="addIssue-row" class="row justify-content-center align-items-center top-margin">
      <div id="addIssue-column" class="col-md-6-offset-0">
        <div id="addIssue-box" class="col-md-12 addIssue">
          <div class="form-wrap align-items-center">
            <div class="input-group justify-content-left align-items-center lightPurple"> 
              <h1 style="margin-top:30px">Add New Issue </h1>
              <i class="fa fa-pencil-square-o" style="font-size: 30px; margin-left:10px; margin-top:30px"></i>
            </div>
            {{#each errors}}
              <div class="error">
                <p>{{text}}</p>
              </div>
            {{/each}}
            <form action="/issues" method="POST">
              <div class="input-group justify-content-center align-items-center"> 
                <div class="justify-content-center align-items-center form-tag d-flex flex-row">
                  <label class="radio mr-1 tag-text"  for="title"><span>Title </span></label>
                </div>
                <input type="text" name="ticketname" id="title" class="form-control" placeholder="eg. Issue #1"
                  maxlength="100" value={{ticketname}}>
              </div>
              <div class="input-group">
                <div class="justify-content-center align-items-center form-tag d-flex flex-row">
                  <label class="radio mr-1 tag-text"  for="priority"><span> Priority </span></label>
                </div>
                <select name = "priority" id = "priority" class="form-select"> 
                  <option  value="1"> 1 </option>
                  <option  value="2"> 2 </option>
                  <option  value="3"> 3 </option>
                  <option  value="4"> 4 </option>
                  <option  value="5"> 5 </option>
                </select>
              </div>
              <div class="input-group"> 
                <div class="justify-content-center align-items-center form-tag d-flex flex-row">
                  <label class="radio mr-1 tag-text text-center"  for="issueDate"><span>Date Assigned </span></label>
                </div>
                <input type="date" name="issueDate" required="required" id="issueDate" class="form-select" placeholder="eg. Issue #1"
                  maxlength="100" value={{issueDate}} >
              </div>
              <div class="input-group">
                <textarea name="description" id="description" class="description-box" placeholder="Describe the details of the Issue"
                  rows="10" value={{description}}></textarea>
              </div>
              <input type="submit" value="Add Issue" class="btn btn-reverse add-button">
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>