<div class="rounded d-flex justify-content-center align-items-center" style="margin-top:0.5em;">
  <form id="register-form" class="card form p-4 p-sm-3 bg-white" style="color:#682bd7; width:30em; height:36em;" action="/users" method="POST">
    <h3 class="text-center">Sign Up</h3>
    <p class="text-center">Please fill in this form to create an account!</p>
    <div class="form-group">
      <i class="fa fa-user"></i>
      <label for="username">Username<sup class="sup">*</sup></label><br>
      <input type="text" name="username" id="username" class="form-control" style="height:40px">
    </div>
    <div class="form-group">
      <i class="fa fa-user"></i>
      <label for="email">Email<sup class="sup">*</sup></label><br>
      <input type="text" name="email" id="email" class="form-control" style="height:40px">
    </div>
    <div class="form-group">
      <i class="fa fa-lock"></i>
      <label for="password">Password<sup class="sup">*</sup></label><br>
      <input type="text" name="password" id="password" class="form-control" style="height:40px">
    </div>
    <div class="form-group">
      <i class="fa fa-check"></i>
      <label for="confirm-password" ≈>Confirm Password<sup class="sup">*</sup></label><br>
      <input type="text" name="confirm-password" id="confirm-password" class="form-control" style="height:40px">
    </div>
    <div class="form-group text-center">
      <input type="submit" name="submit" class="btn btn-block add-button" style="background:#A37CF0; color:#682bd7;"value="Sign Up">
    </div>
    <div class="text-center">Already have an account? <a href="/login" style="color:#682bd7">Login here</a></div>
  </form>
</div>