

<section id="users" class="container">
    <h1 class="text-white">All Projects</h1>
    <div class="row row-cols-3 g-3">
    {{#each projects}}
        <div class="col">
          <div class="card">
            <div class="card-header bg-white">
                <span class = "pull-left">
                <h5 class="card-title">
                    <i class="fa fa-flag"></i>
                    Project Title {{dataValues.projectTitle}}
                </h5>
                </span>
                <span class = "pull-right">
                    <p>
                        Start Date: 
                        {{dataValues.startDate}}
                    </p>
                </span>
            </div>
            <div class="card-body bg-white">
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
           </div>
        </div>
    </div>
    {{else}}
        <p style="color: white;">No Issues to be displayed!</p>
    {{/each}}
    </div>
</section>

