<section id="users" class="container">
    <h1>All Issues</h1>

    {{#each issues}}
        <div>
        <h3 style="display: inline-block">{{dataValues.ticketname}}</h3>
        <p style="display: inline-block">{{dataValues.description}}</p>
        <p style="display: inline-block">Urgency: {{dataValues.urgency}}</p>
        </div>
    {{else}}
        <p>No Issues to be displayed!</p>
    {{/each}}

     <form action="/issues/new">
        <button type="submit">Add a new Issue</button>
     </form>
</section>