.sup{
    color: red;
}

@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

.text { 
    font-family: 'Roboto', sans-serif;
    src: local('Open Sans'), local('OpenSans'), url() format('woff2');
}

.lightPurple { 
    color: #682bd7; 
}

.login{ 
    width: 500px;
    margin: 30px auto;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
	border-radius: 3px;
    font-family: Product Sans;
    font-size: 16px;
    background-color:white;
}
.login-error-message{
    color: red;
    font-size: 14px;
}

.background {
    position: fixed;
    top: 0px; 
    left: 0px; 
    width: 100%; 
    height: 100%; 
    background:#1d1135;
}


.sidebar { 
    background: #682bd7;
    position: absolute;
    top: 0;
    bottom: 0;
    font-family: Product Sans;
    font-size: 18px;
    transition: 0.4s;
    margin-left:-16%;
}

.logout {
    position: absolute;
    bottom: 20px;
    /*left: 20px;*/
}

.card{
	border: none;
	border-top: 5px solid  rgb(176,106,252);
	background: #212042;
	color: #57557A;
    margin-top: 30px; 
}

.nav-link:hover{
    background:#A37CF0;
    text-emphasis-color: white;
}

.nav-link .fa{
    transition:all 1s;
}

.nav-link:hover .fa{
    transform:rotate(360deg);
}

.logout-btn { 
    transition-duration: 0.4s;
    
}


a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }



.logout-btn:hover { 
    background:#A37CF0;
    text-emphasis-color: white;
}
.logout-btn:active{
    opacity: 0.5;
}
.my-container { 
    transition: 0.4s; 
}

.active-nav {
    margin-left: 0px; 
}

.active-cont { 
    margin-left: 18%; 
}

.register-form {
	width: 500px;
    background-color: aqua;
	margin: 30px auto;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
	border-radius: 15px;
    font-family: Product Sans;
	font-size: 16px;
    border-color: rgb(176,106,252);
    border-width: 50px;
    border: solid;
}

.top-margin { 
    margin-top: 100px;
}

.issue{ 
    margin-left: 1000px; 
}

.addIssue{ 
    border-radius: 12px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;    
    font-family: Product Sans;
    font-size: 16px;
    margin-top: 100px;
}

.form-control{
    margin-top: 5px;
    height: 48px;
    border: 2px solid #eee;
    border-radius: 10px; 
}

.form-tag { 
    display: flex;
    width: 150px;  
    margin-top: 1em;
    height: 48px;
    border: 2px solid #eee;
    border-radius: 10px; 
    font-size: 18px; 
    justify-content: center;
    align-items:center;
    border-color: #A37CF0;
    margin-right: 10px; 
    color: #A37CF0;
    padding-top: 5px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

.form-select { 
    margin-top: 1.2em;
    height: 48px;
    border: 2px solid #eee;
}

.description-box{ 
    margin-top: 20px;
    height: 100px;
    border: 2px solid #eee;
    border-radius: 10px; 
    width: 1000px;
    max-width:1000px; /* or whatever width you want. */
}

.add-button { 
    margin-top: 10px;
    margin-bottom: 10px; 
    font-size: 18px;
    border: 2px ;
    border-radius: 10px; 
    width: 150px; 
    height: 48px;
}

.btn-primary{
    background: linear-gradient(135deg, rgba(176,106,252,1) 39%,rgba(116,17,255,1) 101%);
    border: none;
    height: 50px; 
    border-radius: 50px;
    font-size: 20px;
}

.btn-primary:active { 
    border: none; 
    outline: none; 
        box-shadow: none;

    background: linear-gradient(135deg, rgba(176,106,252,1) 39%,rgba(116,17,255,1) 101%)!important;
}

.btn-primary:focus {
    outline: none;
    border: none; 

    box-shadow: none;
    background: linear-gradient(135deg, rgba(176,106,252,1) 39%,rgba(116,17,255,1) 101%)!important;
  }

@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,900;1,100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


.content {
  position: relative;
  margin-top: 40px;
}

.content h2 {
  color: #fff;
  font-size: 4em;
  position: absolute;
  transform: translate(-50%, -50%);
}

.content h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #A37CF0;
}

.content h2:nth-child(2) {
  color: #A37CF0;
  animation: animate 4s ease-in-out infinite;
}

.menu-btn { 
    background-color: #A37CF0;
    color: #fff; 
    right: 0;
    top: 0; 
    bottom: 0;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

.by-btn { 
    background-color: black;
    color: yellow; 

}

